.character-card {
  max-width: 560px;
  height: 160px;
  border-radius: 10px;
  cursor: pointer;
}

.components-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.character-img {
  width: 100%;
  height: 159px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.alive-badge {
  background-color: #e7f3d8;
  color: #354e18;
  display: flex;
  align-items: center;
  gap: 2;
}

.dead-badge {
  background-color: #e7f3d8;
  color: #354e18;
  display: flex;
  align-items: center;
  gap: 2;
}

.unknown-badge {
  background-color: #e7f3d8;
  color: #354e18;
  display: flex;
  align-items: center;
  gap: 2;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  color: white;
}
