.filters-modal {
  max-width: 600px;
  width: 90%;
}

.filters-btn {
  border-radius: 50%;
  color: black;
}

.filters-btn:hover {
  color: white;
}

.apply-filters-btn {
  background-color: #8bc547;
  border-radius: 50px;
  border: 0px;
  color: black;
}

.apply-filters-btn:hover {
  color: white;
}
