.input-container {
  position: relative;
  display: inline-block;
}

.character-searcher {
  width: 926px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.85rem;
  padding-left: 2.5rem;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.character-searcher::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.character-searcher:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #8bc547;
  font-size: 1rem;
  pointer-events: none;
}
