.filters-modal {
  max-width: 650px;
  width: 90%;
}

.filters-btn {
  border-radius: 50%;
  color: #808c73;
  background-color: white;
  border: 1px solid white;
}

.filters-btn:hover {
  color: white;
}

.apply-filters-btn {
  background-color: #8bc547;
  border-radius: 50px;
  border: 0px;
  color: black;
}

.clear-filters-btn {
  border-radius: 50px;
  border: 0px;
}

.apply-filters-btn:hover {
  color: white;
}
